<h2> Edit your band <h2>

<form action="<%= band_url(@band) %>" method="POST">
<input type="hidden" name= "_method" value="PATCH">
            <%= auth_token %>

<label for="band_name">Band Name</label>
<input type="text" id="band_name" name="band[name]" value="<%= @band.name %>">

<input type="submit"  value="Edit Band!">

</form>