<h1><%= @band.name %></h1>
<a href="<%= edit_band_url(@band) %>">Edit Band </a>

<form action="<%= band_url(@band) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" >
    <%= auth_token%>

   <input type="submit" value="🎵Destroy🎵">
</form>
