/* PHASE 8: Thumbs */

.profile-friends {
    display: float;
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    
}

.profile-friends li {
    display:block;
    float: left;
    width: 60px;
}

.profile-friends :nth-child(3n) {
    margin-left: 10px;
    margin-right: 10px;
}